{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "@typescript-eslint",
    "import",
    "jsdoc",
    "perfectionist"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "ignorePatterns": [
    "types/**/*",
    "dist/**/*",
    "dev/**/*"
  ],
  "rules": {
    // Best practices
    "@typescript-eslint/no-unused-vars": "error",
    "camelcase": "warn",
    "curly": [
      "warn",
      "all"
    ],
    "dot-notation": [
      "error",
      {
        "allowPattern": "^[a-z]+(_[a-z]+)+$"
      }
    ],
    "eqeqeq": [
      "warn",
      "always"
    ],
    "max-depth": [
      "error",
      4
    ],
    "no-console": [
      "warn",
      {
        "allow": [
          "error",
          "warn",
          "info"
        ]
      }
    ],
    "no-constant-condition": [
      "error",
      {
        "checkLoops": false
      }
    ],
    "no-else-return": "error",
    "no-floating-decimal": "error",
    "no-new-func": "error",
    "no-new-wrappers": "error",
    "no-param-reassign": "error",
    "no-return-assign": [
      "error",
      "except-parens"
    ],
    "no-return-await": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-throw-literal": "error",
    "no-unmodified-loop-condition": "error",
    "no-unused-expressions": "error",
    "no-useless-concat": "error",
    "no-useless-return": "error",
    "no-void": "error",
    "no-with": "error",
    "wrap-iife": [
      "error",
      "inside"
    ],
    "yoda": [
      "error",
      "never",
      {
        "exceptRange": true
      }
    ],
    // Stylistic
    "array-bracket-spacing": "error",
    "computed-property-spacing": [
      "error",
      "never"
    ],
    "func-style": [
      "error",
      "declaration",
      {
        "allowArrowFunctions": true
      }
    ],
    "no-lonely-if": "error",
    "no-mixed-operators": [
      "error",
      {
        "allowSamePrecedence": true,
        "groups": [
          [
            "&",
            "|",
            "^",
            "~",
            "<<",
            ">>>"
          ],
          [
            "==",
            "!=",
            "===",
            "!==",
            ">",
            ">=",
            "<",
            "<="
          ],
          [
            "&&",
            "||"
          ],
          [
            "in",
            "instanceof"
          ]
        ]
      }
    ],
    "no-multi-assign": "error",
    "no-multi-spaces": "warn",
    "no-negated-condition": "error",
    "no-nested-ternary": "error",
    "no-new-object": "error",
    "no-unneeded-ternary": "error",
    "one-var-declaration-per-line": "error",
    "operator-assignment": [
      "error",
      "always"
    ],
    "perfectionist/sort-objects": "warn",
    "prefer-object-spread": "warn",
    "quotes": [
      "error",
      "single",
      {
        "allowTemplateLiterals": false,
        "avoidEscape": true
      }
    ],
    "spaced-comment": [
      "warn",
      "always",
      {
        "line": {
          "markers": [
            "#region",
            "#endregion",
            "region",
            "endregion"
          ]
        },
        "block": {
          "balanced": true
        }
      }
    ],
    "semi": [
      "warn",
      "never"
    ],
    // ES6
    "arrow-body-style": [
      "error",
      "as-needed"
    ],
    "no-confusing-arrow": [
      "error",
      {
        "allowParens": true
      }
    ],
    "no-var": "error",
    "prefer-const": "error",
    "prefer-rest-params": "error",
    "prefer-spread": "error",
    "prefer-template": "error",
    "no-trailing-spaces": "error",
    "new-parens": [
      "error",
      "always"
    ],
    // Import
    "import/no-unresolved": "error",
    "import/named": "error",
    "import/default": "error",
    "import/namespace": "error",
    "import/export": "error",
    "import/no-cycle": "error",
    "import/no-named-as-default": "warn",
    "import/no-named-as-default-member": "warn",
    "import/no-duplicates": "warn",
    "import/first": "warn",
    "import/order": [
      "warn",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "unknown",
          "parent",
          "sibling",
          "index"
        ],
        "newlines-between": "never"
      }
    ],
    "import/no-useless-path-segments": "error",
    "import/no-self-import": "error",
    "import/no-absolute-path": "error",
    "import/no-commonjs": "error",
    "import/no-amd": "error",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "peerDependencies": false,
        "optionalDependencies": false
      }
    ],
    "import/no-mutable-exports": "error",
    "import/no-named-default": "error",
    // JS DOC
    "jsdoc/newline-after-description": 0,
    "jsdoc/require-param-description": 0,
    "jsdoc/require-property-description": 0,
    "jsdoc/require-returns-description": 0,
    "jsdoc/no-undefined-types": 0,
    "jsdoc/require-jsdoc": [
      "warn",
      {
        "exemptEmptyFunctions": true
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}